@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Profile Page";
}
<style>
  body{
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}</style>
<html lang="en" dir="ltr">
    
 <head>
    <meta http-equiv='refresh'content="10000;url=https://localhost:7087/Main/SessionExpired" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>


 <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light  ">
            <div class="container-fluid">
                <img src="~/images/Elogo.png" style="width: 5%;margin-right:30px;"  alt="LOGO">
                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Success">IDENTITY MANAGEMENT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse  justify-content-between">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeData" asp-action="Create"><b>Add Employee</b></a> </li>
                        <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeData" asp-action="Index"><b>Update & Delete</b></a> </li>
                        
                      </div>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" >
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                         <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="Create"> <i class="fa fa-bell" style="font-size:28px;color:rgb(22, 17, 19)"></i></a>
                           
                        </li>
                        <li class="nav-item">
                         <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Success"> <i class="fa fa-user" style="font-size:28px;color:rgb(22, 17, 19)"></i></a>
                         
                        </li>
                         <li class="nav-item">
                        
                           <a class="greeting nav-link text-dark" style="color: rgb(187, 26, 26);">  Hi  @HttpContextAccessor.HttpContext.Session.GetString("EmailId")</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminLogin"><b>Logout</b></a>
                        </li>
                    </ul>
                </div> 
                             @* <ul class="navbar-nav ">
                              <h5 class="greeting" style="color: rgb(187, 26, 26);"> Hi  @HttpContextAccessor.HttpContext.Session.GetString("EmailId")</h5>
                          </ul></div> *@
                         
                        
                  
            </div>
        </nav>
 <div style="margin-top:20px" class="text-center">
   <section class="">
    <div class="container">
        <div class="content">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                              <img src="~/images/images.png" alt="...">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">Sargunan</h3>
                                    <span class="text-primary">developer</span>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Position:</span> developer</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Experience:</span> 5 Years</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> sargunan@gmail.com</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Website:</span> www.aspiresystem.com</li>
                                    <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span>9342767970</li>
                                </ul>
                                <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                    <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#!"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                                    <li><a href="#!"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
    
</div>
  
 <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->


</html>
